

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <%- include('../layouts/head'); %>
 </head>
 <body class="container">
 
 <!-- <header>
     <%- include('../layouts/header'); %>
 </header> -->
 
 <main>
     <div class="jumbotron">
         <p>Hi there, your account (<%= email %>) has been verified and you can now login to the system.</p>
     </div>
 </main>
 
 <footer>
     <%- include('../layouts/footer'); %>
 </footer>
 
 </body>
 </html>