<!DOCTYPE html>

<html lang="en">

<head>
    <%- include('../layouts/head'); %>
</head>

<body class="container">

    <!-- <header>
     <%- include('../layouts/header'); %>
 </header> -->

    <main>
        <div class="jumbotron">
            <h1>Silence Is Golden..</h1>
        </div>
    </main>

    <footer>
        <%- include('../layouts/footer'); %>
    </footer>
</body>

</html>